# Assignment 1

---

**Que 1. Create one variable containing following type of data:**
        
  1. string
  2. list
  3. float
  4. tuple

**Ans.**  
1. my_string = “Pranjal Jain”
2. my_list = [1,2,3,4,5,6,7,8,9]
3.  my_float = 10.03
4.  my_tople = (10, 20, 30)

**Que 2.  Given are some following variables containing data:**
1. var1 = ‘ ‘
2. var2 = ‘[ DS , ML , Python]’
3. var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
4. var4 = 1.

What will be the data type of the above given variable.

**Ans.**
1. var1 = ‘ ’
   
   It is a string containing & empty space.
2. var2 = ‘[ DS , ML , Python]’
   
   It is also a string type variable. It is look like a list but it is not a list. It was written inside single quote (‘  ‘) notation.
3. var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
   
   It is a string type variable.
4. var4 = 1.
   
   It is a float containing a value (1.0)

Q 3. Explain the use of the following operators using an example:
  
  1. /
  2. %  
  3. //
  4. **

In [ ]:
division = 28 / 7
print(division)

4.0

In [ ]:
remainder = 10 % 3
print(remainder)

1

In [ ]:
result = 10 // 3
print(result)

3

In [ ]:
exponential = 5 ** 2
print(exponential)

25

**Que 4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.**

In [1]:
list = [21, "Pranjal", 2024.22, [5,2,5,4], True, {'mango': '6 kg'}, None, (55,63), "hello worls!", False]

for element in list:
    print(f"Element: {element}, Type: {type(element)}")

Element: 21, Type: <class 'int'>
Element: Pranjal, Type: <class 'str'>
Element: 2024.22, Type: <class 'float'>
Element: [5, 2, 5, 4], Type: <class 'list'>
Element: True, Type: <class 'bool'>
Element: {'mango': '6 kg'}, Type: <class 'dict'>
Element: None, Type: <class 'NoneType'>
Element: (55, 63), Type: <class 'tuple'>
Element: hello worls!, Type: <class 'str'>
Element: False, Type: <class 'bool'>

**Que 5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.**

In [2]:
#Input dividend and divisor
A = int(input("Enter the dividend (A): "))
B = int(input("Enter the divisor (B): "))

#count division
divisions_count = 0

#While loop
while A % B == 0:
    A = A // B
    divisions_count += 1

#Display result
if divisions_count > 0:
    print(f"{A} is purely divisible by {B} {divisions_count} times.")
else:
    print(f"{A} is not purely divisible by {B}.")

Enter the dividend (A): 5
Enter the divisor (B): 6
5 is not purely divisible by 6.

**Que 6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not**

In [3]:
# Create a list of 25 integers
number_of_list = [1, 3, 6, 8, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69]

# Use a for loop to iterate over each element in the number of list
for element in number_of_list:
    # Check if the element is divisible by 3 using the modulo operator (%)
    if element % 3 == 0:
        print(f"{element} is divisible by 3.")
    else:
        print(f"{element} is not divisible by 3.")

1 is not divisible by 3.
3 is divisible by 3.
6 is divisible by 3.
8 is not divisible by 3.
9 is divisible by 3.
12 is divisible by 3.
15 is divisible by 3.
18 is divisible by 3.
21 is divisible by 3.
24 is divisible by 3.
27 is divisible by 3.
30 is divisible by 3.
33 is divisible by 3.
36 is divisible by 3.
39 is divisible by 3.
42 is divisible by 3.
45 is divisible by 3.
48 is divisible by 3.
51 is divisible by 3.
54 is divisible by 3.
57 is divisible by 3.
60 is divisible by 3.
63 is divisible by 3.
66 is divisible by 3.
69 is divisible by 3.

**Que 7. What do you understand about mutable and immutable data types? Give examples for both showing this property.**

**Mutable Data Types:**

* Objects of mutable data types can be modified after creation.
*Changes to the object do not create a new object; instead, they modify the existing object in-place.
*Examples of mutable data types in Python include lists, dictionaries, and sets.

In [4]:
# Example of a mutable list
list = [1, 2, 3, 4]
print("Original List:", list)

list.append(5)
print("Modified List:", list)

Original List: [1, 2, 3, 4]
Modified List: [1, 2, 3, 4, 5]

**Immutable Data Types:**

* Objects of immutable data types cannot be modified after creation.
* Any operation that seems to modify the object actually creates a new object.
* Examples of immutable data types in Python include integers, floats, strings, and tuples.

In [5]:
# Example of an immutable tuple
tuple = (1, 2, 3, 4)
print("Original Tuple:", tuple)

# Create a new tuple with an additional element
new_tuple = tuple + (5,)
print("New Tuple:", new_tuple)

Original Tuple: (1, 2, 3, 4)
New Tuple: (1, 2, 3, 4, 5)